.complete-page .modal-header {
	border-color: #ffe530;
}
.complete-page h1 {
	text-align: center;
	font-family: 'Coming Soon', cursive;
}

.complete-page .modal-body {
	padding-bottom: 0;
}

.complete-page .whole-btn {
	width: 60px
	height: 80px;
	margin: 10px 60px;
	display: inline-block;
	
}

.complete-page .completepage-btn {
	top: 0px;
	left: 0px;
	width: 60px;
	height: 60px;
	border-radius: 30px;
	border: 5px solid #333;
	padding-left: 8px;
	font-size: 35px;

	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	-ms-box-sizing: border-box;
  	box-sizing: border-box;
}

.complete-page .modal-body a {
	color: #333;
}

.complete-page .completepage-btn:hover {
	border-color: #ffe530;
	color: #ffe530;
}

.complete-page .btn-info {
	top: 60px;
	left: 0px;
	height: 20px;
	width: 60px;
	font-size: 12px;
	text-align: center;
	padding: 2px;
	background-color: transparent;
	color: #333;
}

.complete-page .users-msg {
	background-color: #ddd;
	width: 100%;
	height: 400px;
	margin-bottom: 5px;
}

.modal-footer{
	border-color: #ffe530;
	padding: 5px 15px;
}

.modal-footer img {
	float: left;
}

.modal-footer p {
	text-align: left;
	margin-top: 15px
}

.modal-footer a:hover {
	text-decoration: none;
}